
* {
    margin: 0;
    padding: 20px;
}

.main{
    border: solid 16px rgb(92, 94, 90);
    height: 100%; 
    border-radius: 15px;
    width: 75%;
}

header {
    border: solid 3px rgb(68, 110, 5);
    height: 70px; 
    
    
    
}

nav {
    border: solid 3px rgb(142, 0, 0);
    height: 50px;
}

article {
    border: solid 3px rgb(21, 0, 255);
    width: 75%;

}

article header {
    border: solid 3px rgb(68, 110, 5);
    margin-top: 190px;
   justify-content: flex-end;
}

section {
    border: solid 3px rgb(68, 5, 110);
}

footer {
    border: solid 3px rgb(111, 134, 77);
order:-20



}

div{
display: flex;

}
div div {
    border: solid 3px rgb(139, 83, 59);
    width: 25%;
    flex-wrap: wrap;
   /* justify-content:space-around;*/
    
}

aside {
    border: solid 3px rgb(73, 145, 197);
    height: 300px;
    width: 100%;

}

