.galeria{
    display: flex; 
    flex-wrap: wrap;
justify-content: space-between;

}
.galeria img {
    border-radius: 50%;
}

img{
    width: 400px; 
    height: 300px;
    object-fit: cover; 

}

.todo{
    background-image: url(fondo/fondo.png);
    background-size: cover;
}

.titulo{
 font-size:1000% ;
}

.mmd{
    font-size:500%;
    color:rgb(59, 49, 49) ;
}

.menu{
    font-family: 'Times New Roman', Times, serif;
    font-size:500%;font-size:500%;
    color: rgb(59, 49, 49) ;
   
}

.fondoo{
    background-image: url(fondo/fondoo.jpg);
    background-size: cover;
}

.escultura{
    font-size:1000% 
    color rgb(86, 99, 12) ;

}